h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#idField.is-active {
  background: red;
}

.ground {
  width: 400px;
  height: 300px;
  border: 5px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* cursor: none; */
}

#ball {
  pointer-events: none;
  /* transition: transform .3s; */
}

.emotion {
  font-size: 2rem;
  position: absolute;
  pointer-events: none;
}

section,
article,
p {
  background: orange;
  padding: 2rem;
}

article {
  background: dodgerblue;
}

p {
  background: hotpink
}

span {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  transition: all 1s;
}